// Variables
$primary-color: #0056D2; 
$background-color: #E6F0FF; 
$form-bg-color: #ffffff; 
$text-color: #000; 
$border-radius: 8px; 


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  height: 100vh;
  padding: 1rem;
  margin-bottom: 25%;
}

.sign-in-container {
  background: $form-bg-color;
  padding: 2rem;
  width: 100%;
  max-width: 445px;
  border-radius: $border-radius;
  position: relative;
  top:15px;
  height: fit-content;
  max-height: 759px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid #d9d9d9;
  

  .logo img {
    width: 80px;
    margin-bottom: 1.5rem;
  }

  .sign-in-form {
    .form-group {
      margin-bottom: 1.5rem;
      text-align: left;

      label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        color: $text-color;
      }

      input {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: $border-radius;
        font-size: 1rem;

        &:focus {
          outline: none;
          border-color: $primary-color;
          box-shadow: 0 0 5px rgba(0, 86, 210, 0.3);
        }
      }
    }

    .btn-signin {
      background: $primary-color;
      color: #fff;
      border: none;
      padding: 0.75rem;
      width: 100%;
      border-radius: $border-radius;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }
  .signin-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;

    .login-link {
      color: #000000;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20%;


     /*p{
      position: relative;
      left: 35%;
      bottom: -4rem;
      transform: translateX(-69px);
      }*/
      a{
        color: $primary-color;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}