body {
  font-family: Arial, sans-serif;
  background-color: #E5EEFF;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.reset-password-box {
  background: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 2rem;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.reset-password-box h1 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  color: #1f2937;
}
.reset-password-box p {
  font-size: 0.875rem;
  color: #4b5563;
  margin-bottom: 1.5rem;
}
.reset-password-box form {
  display: flex;
  flex-direction: column;
}
.reset-password-box form label {
  font-size: 0.875rem;
  color: #4b5563;
  margin-bottom: 0.5rem;
}
.reset-password-box form input {
  border: 1px solid #d1d5db;
  border-radius: 4px;
  padding: 0.75rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}
.reset-password-box form input:focus {
  border-color: #550DFD;
}
.reset-password-box form button {
  background-color: #013298;
  color: #ffffff;
  border: none;
  border-radius: 13px;
  width: 100%;
  max-width: 155px;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.reset-password-box form button:hover {
  background-color: #550DFD;
}