// Variables
$primary-color: #0056D2; 
$background-color: #E6F0FF; 
$form-bg-color: #ffffff; 
$text-color: #000; 
$border-radius: 8px; 


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.login-container {
  background: $form-bg-color;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  border-radius: $border-radius;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid #d9d9d9;

  .logo img {
    width: 80px;
    margin-bottom: 1.5rem;
  }

  .login-form {
    .form-group {
      margin-bottom: 1.5rem;
      text-align: left;

      label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        color: $text-color;
      }

      input {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: $border-radius;
        font-size: 1rem;

        &:focus {
          outline: none;
          border-color: $primary-color;
          box-shadow: 0 0 5px rgba(0, 86, 210, 0.3);
        }
      }
    }

    .btn-signin {
      background: $primary-color;
      color: #fff;
      border: none;
      padding: 0.75rem;
      width: 100%;
      max-width: 150px;
      border-radius: $border-radius;
      font-size: 1rem;
      cursor: pointer;
      display: flex;
      justify-content: center;

      &:hover {
        background: darken($primary-color, 10%);
      }
    }

    .form-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      .remember-me {
        display: flex;
        align-items: center;

        input {
          margin-right: 0.5rem;
        }

        label {
          font-size: 0.9rem;
        }
      }
    }
  }

  .forgot-password {
    display: flex;
    align-items: center;
    margin-top: -1rem;
    margin-left: 5.5px;
    color: $primary-color;
    text-decoration: none;
    font-size: 0.9rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .new-user {
    
    .register-link {
      color: $primary-color;
      text-decoration: none;
      display: flex;
      align-items: center;

     p{
      position: relative;
      left: 50%;
      bottom: -5rem;
      transform: translateX(-69px);
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
